JWT_KEY=your_jwt_key
JWT_ISSUER=your_issuer
JWT_AUDIENCE=your_audience
CONNECTION_STRING=Host=your_host;Port=5432;Database=your_database;Username=your_username;Password=your_password

# Defina como true para usar dados em memória (sem banco de dados)
USE_LOCAL_DATA=false
